.navbar{
	margin-top: 10px;
	border-bottom: solid 3px #3269a8;
	border-left: solid 3px #3269a8;
	border-right: solid 3px #3269a8;
}
.collapse ul li a{
	font-weight: bold;
	margin-right: 10px;

}
.navbar{
	border-radius: 18px;
	margin-top: 40px;
}
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}
.info-bar{
	width: 100%;
	height: 40px;
	background: #2d323c;
	
	border-bottom: solid 3px #3269a8;

}

.infos{
	
	background: #2d323c;
	margin-top: 210px;
	border-radius: 15px;
}
.infos h4{
	margin-top: 50px;
	margin-left: 50px;
}
.infos strong{
	margin-left: 50px;

}
.nav-link{
	color:#fff;
}
.opste-info a::after{
	content: '';
	display: block;
	width: 0;
	height: 4px;
	background: #fff;
	transition: width .3s;

}
.opste-info a:hover::after{
	width: 100%;
	background: #3269a8;


}

/*
@keyframes discord {
	0% {height:70px; width:250px;}
	 100% {height:500px;width:350px;}
}
@keyframes discord-c {
	0% {height:500px;width:350px;}
    100% {height:70px; width:250px;}
}
.discord {
	animation-name: discord-c;
	animation-duration: 2s;
	animation-play-state: pause;
	float:left;
    height:70px;
	width:250px;
   
	
}

.discord:hover {
	height:500px;
	width:350px;
	float:left;
	animation-name: discord;
	animation-duration: 2s;
	animation-play-state: pause;
}
*/
.nav-item ::after{
	content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #fff;
    transition: width .3s;
	
}
.nav-link:hover::after {
    width: 100%;
    background: #3269a8;
    //transition: width .3s;
}
.row h4{
	color:  #fff;

}
.row strong{
	color: #fff;
}
.nav-link{
	font-weight: bold;
}
.row h4:before{

    position: absolute;
    left: 2.80em;
    top: 3.5em;
    height: 0;
    width: 150px;
    content: '';
    border-top: 4px solid #3269a8;
    border-radius: 6px;
}
/*.ime-igraca{
	color: #fff;
	margin-top: 30px;
	margin-left: 50px;
	margin-bottom: -20px;
}*/
.row{
	color: #fff;
}
.profslika{
	height: 250px;
	width: 330px;
	margin-right:50px;
}
.skinigraca:before{
   position: absolute;
    left: 2.80em;
    top: 3.5em;
    height: 0;
    width: 150px;
    content: '';
    border-top: 4px solid #3269a8;
    border-radius: 6px;
}

.footer{
	background: #2d323c;
	margin-top: 200px;
	border-top: 4px solid #3269a8;

	
}
.col a i{
  color: #fff;
  font-size:45px;
  text-align: center;
  margin-bottom: 150px;
  display: block;
  margin: 10px auto 100px;
  text-decoration: none;
  margin-top: 100px;
}
.footer-dev{
	background: #3f4654;

}
.footer-dev p{
	margin-top: 15px;
}